 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
    <style media="screen">
        body{
          background: #f6f5f5;
        }
        .main_div{
          width: 750px;
          height: 643px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 50px;
          border: 2px solid #3a4750;
          border-radius: 5px;
          padding-left: 68px;
          padding-right: 68px;
        }
        .lable_layout{
           margin-top: 15px;
        }
        .input_layout{
          width: 608px;
          padding-top: 2px;
          padding-bottom: 4px;
        }
		#state{
			background-color:lightgray;
		}
		#city{
			background-color:lightgray;
		}
        form{
          width: 608px;
          align-items: center;
        }
        h1{
          margin-top: 20px;
    margin-bottom: 0px;
        }
      </style>